<h2><%= @transactions.id %></h2>

<p>Type: <%= @transactions.type.type_name %></p>
<p>Merchant: <%= @transactions.merchant.merch_name %></p>
<p>Value: <%= @transactions.value %></p>

<a href="/transactions/<%= @transactions.id %>/edit">Edit</a>
<form action="/transactions/<%= @transactions.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
