<h2 class= "title"><%= @transactions.id %></h2>

<p>Type: <%= @transactions.type.type_name %></p>
<p>Merchant: <%= @transactions.merchant.merch_name %></p>
<p>Value: <%= @transactions.value %></p>
<p>Date: <%= @transactions.trans_date %></p>

<a href="/transactions/<%= @transactions.id %>/edit">Edit</a>
<p><form action="/transactions/<%= @transactions.id %>/delete" method="POST" onclick="return confirm('Delete from database forever?');">
  <input type="submit" value="Delete"/>
</form>
</p>
